/* ================
hero styles
================ */
.tcu-hero {
    text-align: center;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1800px;

    .tcu-hero__content {
        background-color: rgba(77, 25, 121, 0.6);
        color: $white;
        margin-left: auto;
        margin-right: auto;
        padding: $space-l;
        width: 90%;

        @include media( $large-screen ) {
            width: 80%;
        }

        h2 {
            font-size: 40px;
            font-weight: $font-bold;
            margin-bottom: 0;
            margin-top: 0;

            @include media( $medium-screen ) {
            font-size: 80px;
            }

            @include media( $xl-screen ) {
            font-size: 100px;
            }
        }
    }
}
