.tcu-infographics {

    @include media ( $medium-screen ) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .tcu-graphics {
        text-align: center;
        max-width: 250px;
        margin: 0 auto;

        a {
            display: inline-block;
        }

        img {
            max-width: 100%;
            margin: auto;
        }
    }
}
