.tcu-overview-block {
    margin-left: auto;
    margin-right: auto;
    padding: $space-inset-default;
    text-align: center;

    blockquote {
        border-left: 5px solid #F9D44B;
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 95%;

        @include media( $medium-screen ) {
            font-size: 30px;
            width: 60%;
        }
    }
}

