.tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event,
.tribe-mini-calendar-list-wrapper .tribe-event-featured .tribe-mini-calendar-event,
.tribe-events-list .tribe-events-loop .tribe-event-featured,
.tribe-event-featured .tribe-events-photo-event-wrap {
    background: #95DACF !important;
    color: #111 !important;
}

.tribe-events-list .tribe-events-loop .tribe-event-featured
.tribe-events-list-event-title a,
.tribe-events-list .tribe-events-loop .tribe-event-featured a:active,
.tribe-events-list .tribe-events-loop .tribe-event-featured a {
    color: #4D1979 !important;
    font-weight: 700;
}

.tribe-events-adv-list-widget .tribe-event-featured .tribe-events-duration,
.tribe-events-adv-list-widget .tribe-event-featured .tribe-events-event-meta,
.tribe-mini-calendar-list-wrapper .tribe-event-featured .tribe-events-duration,
.tribe-mini-calendar-list-wrapper .tribe-event-featured
.tribe-events-event-meta,
.tribe-events-list .tribe-events-loop .tribe-event-featured
.tribe-events-content,
.tribe-events-list .tribe-events-loop .tribe-event-featured
.tribe-events-event-meta {
    color: #111 !important;
}