.tribe-mini-calendar-wrapper {
    margin-top: 16px;
}

.tribe-mini-calendar {
    background-color: #FFFFFF;
}

.tribe-mini-calendar .tribe-events-present,
.tribe-mini-calendar .tribe-mini-calendar-today {
    background-color: #4D1979;
}

.tribe-mini-calendar-event {
    padding-left: 16px;
    padding-right: 16px;
}
/* Feature elament */
.tribe-events-list-widget .tribe-event-featured, .tribe-events-venue-widget
.tribe-event-featured,
.tribe-mini-calendar-list-wrapper .tribe-event-featured,
.tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event,
.tribe-mini-calendar-list-wrapper .tribe-event-featured {
    background: #95DACF !important;
    color: #111 !important;
}

.tribe-mini-calendar-list-wrapper .tribe-event-featured .tribe-events-duration
{
    color: #111 !important;
}
.tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event .tribe-events-title a,
.tribe-mini-calendar-list-wrapper .tribe-event-featured
.tribe-mini-calendar-event .tribe-events-title a,
.tribe-mini-calendar-list-wrapper .tribe-event-featured
.tribe-mini-calendar-event .tribe-events-title a {
    color: #4D1979 !important;
    font-weight: 700;
}