.tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event,
.tribe-mini-calendar-list-wrapper .tribe-event-featured .tribe-mini-calendar-event,
.tribe-events-list .tribe-events-loop .tribe-event-featured {
    background: #95DACF !important;
    color: #111 !important;
}